<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <ul class="nav nav-tabs">
        <li class="active" data-ele="basic"><a style="cursor: pointer">基础信息</a></li>
        <li class="" data-ele="specs"><a style="cursor: pointer">商品规格</a></li>
    </ul>
    <div class="tab-pane hide" id="specs" data-id="{$row.id}">
        <!--商品规格-->
        <div class="container">
            <div class="row">
                <span>设置商品规格</span>
                <button type="button" class="btn btn-default add-specs">添加商品规格</button>
            </div>
            <div class="row specs-content">
                {volist name="_specs" id="vo"}
                <label>{$vo.name}</label>
                <input type="hidden" name="row[specs_id][]" value="{$vo.id}"/>
                <div>
                    {volist name="vo.specsvalue" id="v"}
                    <label className="checkbox-inline">
                        <input type="checkbox" name="row[specs_value_id][]" value="{$v.id}" {eq name="v.is_use" value="1"}checked{/eq}>{$v.name}
                    </label>
                    {/volist}
                </div>
                {/volist}
            </div>
        </div>
    </div>
    <div class="tab-pane active" id="basic">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Good_category_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-good_category_id" data-rule="required" data-source="good.Goodcategory/index" class="form-control selectpage" name="row[good_category_id]" type="text" value="{$row.good_category_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="text" value="{$row.name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-price" data-rule="required" class="form-control" step="0.01" name="row[price]" type="number" value="{$row.price|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Market_price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-market_price" data-rule="required" class="form-control" step="0.01" name="row[market_price]" type="number" value="{$row.market_price|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Image')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-image" data-rule="required" class="form-control" size="50" name="row[image]" type="text" value="{$row.image|htmlentities}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-image" class="btn btn-danger plupload" data-input-id="c-image" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-image"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-image" class="btn btn-primary fachoose" data-input-id="c-image" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-image"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-image"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Images')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-images" data-rule="required" class="form-control" size="50" name="row[images]" type="text" value="{$row.images|htmlentities}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-images" class="btn btn-danger plupload" data-input-id="c-images" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true" data-preview-id="p-images"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-images" class="btn btn-primary fachoose" data-input-id="c-images" data-mimetype="image/*" data-multiple="true"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-images"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-images"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Policy')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-policy" class="form-control" name="row[policy]" type="text" value="{$row.policy|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Sale')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-sale" data-rule="required" class="form-control" name="row[sale]" type="text" value="{$row.sale|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Weigh')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-weigh" data-rule="required" class="form-control" name="row[weigh]" type="number" value="{$row.weigh|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <div class="radio">
            {foreach name="statusList" item="vo"}
            <label for="row[status]-{$key}"><input id="row[status]-{$key}" name="row[status]" type="radio" value="{$key}" {in name="key" value="$row.status"}checked{/in} /> {$vo}</label> 
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_home')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-is_home" data-rule="required" class="form-control selectpicker" name="row[is_home]">
                {foreach name="isHomeList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.is_home"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_best')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-is_best" data-rule="required" class="form-control selectpicker" name="row[is_best]">
                {foreach name="isBestList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.is_best"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Butie')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select  id="c-butie" data-rule="required" class="form-control selectpicker" name="row[butie]">
                {foreach name="butieList" item="vo"}
                <option value="{$key}" {in name="key" value="$row.butie"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Content')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-content" class="form-control editor" rows="5" name="row[content]" cols="50">{$row.content}</textarea>
        </div>
    </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
